<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Feed de Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="imagemDenuncia" src="../assets/denuncia1.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Omni Denuncias</ion-card-subtitle>
      <ion-card-title>Denuncia do Cidadão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cidadão que habita na regiao do sudeste, relata denuncia de lixo jogado em ponto irregular.
      <br>
      <a href="">Ler Mais</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="imagemDenuncia" src="../assets/denuncia1.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Omni Denuncias</ion-card-subtitle>
      <ion-card-title>Denuncia do Cidadão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cidadão que habita na regiao do sudeste, relata denuncia de lixo jogado em ponto irregular.
      <br>
      <a href="">Ler Mais</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="imagemDenuncia" src="../assets/denuncia1.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Omni Denuncias</ion-card-subtitle>
      <ion-card-title>Denuncia do Cidadão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cidadão que habita na regiao do sudeste, relata denuncia de lixo jogado em ponto irregular.
      <br>
      <a href="">Ler Mais</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="imagemDenuncia" src="../assets/denuncia1.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Omni Denuncias</ion-card-subtitle>
      <ion-card-title>Denuncia do Cidadão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cidadão que habita na regiao do sudeste, relata denuncia de lixo jogado em ponto irregular.
      <br>
      <a href="">Ler Mais</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="imagemDenuncia" src="../assets/denuncia1.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Omni Denuncias</ion-card-subtitle>
      <ion-card-title>Denuncia do Cidadão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cidadão que habita na regiao do sudeste, relata denuncia de lixo jogado em ponto irregular.
      <br>
      <a href="">Ler Mais</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="imagemDenuncia" src="../assets/denuncia1.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Omni Denuncias</ion-card-subtitle>
      <ion-card-title>Denuncia do Cidadão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cidadão que habita na regiao do sudeste, relata denuncia de lixo jogado em ponto irregular.
      <br>
      <a href="">Ler Mais</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="imagemDenuncia" src="../assets/denuncia1.jpeg" />
    <ion-card-header>
      <ion-card-subtitle>Omni Denuncias</ion-card-subtitle>
      <ion-card-title>Denuncia do Cidadão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Cidadão que habita na regiao do sudeste, relata denuncia de lixo jogado em ponto irregular.
      <br>
      <a href="">Ler Mais</a>
    </ion-card-content>
  </ion-card>


</ion-content>
